html, body {
    font-size: 16px;
}

code {
    font-size: 13px;
}

code.noClass {
    background: var(--code-bg) !important;
    padding: 0.3em 0.5em;
    border-radius: 4px;
}

.panel_expand {
    font-size: 1rem;
}

.section_link {
    /* font-size: 0.85em; */
}

.toc_item {
    /* font-size: 0.85rem; */
}